:root {
  --theme-color1: rgba(35,35,32,255);
  --theme-color2: rgba(254,250,245,255);
    scroll-behavior: smooth;
}

@media only screen and (max-width: 400px) {
  body {
    background-color: grey;
  }
}


body {
    background-color: #EDDDD4;
    max-width: 100vw;
    color: var(--theme-color1);
    background-color: var(--theme-color2);
    font-family: sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
  }

  
  
  #h1-ardey {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 5em;
    width: 5em;
    line-height: 0.9em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-top: calc(50vh - 1em);
  }
  
  
  
  #h1-ardey {
    background: #fc3456;
    background-color: #fc3456;
    background: conic-gradient(
      #ffefb1 8.333%, 
      #ffc426 16.666%, 
      #fc3456 24.333%, 
      /* #fc3456 = rgb(252,52,86) */
      #4530fd 31.666%,  
      /* #4530fd = rgb(69,48,253) */
      #470f7f 50%, 
      #35017e 58.333%, 
      #210959 66.666%, 
      #4624d7 74.333%, 
      #fc3456 81.6666%);

    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

    animation: h1-ardey-animation-rev 0.5s ease forwards;
  
    cursor: pointer;
  }

  #h1-a {
    text-decoration: none;
  }
  
  /* Animation on hover */
  #h1-ardey:hover {
    animation: h1-ardey-animation 0.8s ease forwards;
  }
  /* Text background animation start */
  @keyframes h1-ardey-animation {
    0% {
      background-size: 210%;
      background-position: 0 0em;
    }
    10% {
      line-height: 1em;
      padding-top: 100px;
    }
    20% {
      background-size: 57%;
      background-position: 1 0em;
    }
    100% {
      background-size: 300%;
      background-position: -5.5em 1em;
    }
  }
  
  /* Text background animation back */

  @keyframes h1-ardey-animation-rev {
    0% {
      background-size: 300%;
      background-position: -5.5em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 1 0em;
    }
    100% {
      background-size: 210%;
      background-position: 0 0em ;
    }
  }





#header {
  display: flex;
  align-content: center;
}

#hero-section {
  /* height: 100vh; check of ze dit bedoelen */
  width: 100vh;
  margin-bottom: -10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

#hero-img {
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  align-self: center;
  margin-bottom: 300px;
  border-radius: 50%;
  z-index: -1;
}


#hero-background-animation {
  /* width en height zijn voor edits */
  width: 400px;
  height: 400px;
  background: rgb(69,48,253, 0.3); 
  position: absolute;
  display: flex;
  align-self: center;
  border-radius: 50%;
  animation: hero-animation 4s linear infinite ;
  z-index: -2;
}

@keyframes hero-animation {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  70% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  70% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
  80% {
    width: 800px;
    height: 800px;
    opacity: 1;
  }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
  }
}









#scroll-down {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;

}
#scroll-icon {
  font-size: 3em;
  text-align: center;
  width: 0,5em;
  height: auto;
  color: rgb(105, 105, 105);
  display: flex;
  animation: scroll-animation 4s linear infinite;
  animation-timing-function: 5;
  animation-delay: 920ms;
  display: flex;
  position: absolute;
  left: calc(50vw - 0.5em);
  top: 80vh;
}

@keyframes scroll-animation {
  0% {
    top: 80vh;
  }
  35% {
    top: 80vh;
  }

  50% {
    top: 70vh;
  }
  53% {
    top: 80vh;
  }
  55% {
    top: 77vh;
  }
  57% {
    top: 80vh;
  }
  60% {
    top: 80vh;
  }
  100% {
    top: 80vh;
  }
}






#navbar {
  position: fixed;
  top: 5%;
  width: 10%;
  height: 5%;
  background-color: rgb(200, 200, 200, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  margin-left: calc(5vw);
  margin-right: auto;
  border-radius: 30px;
  animation: navbar-animation-rev 0.35s ease forwards;
  z-index: 1;
  display: block;
}

#navbar-fingerprint {
  color: black;
  width: 50px;
  height: auto;
  position: relative;
  font-size: 35px;
  display: block;
  top: 10px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}


/* hover on navbar, to make fingerprint disapear */

#navbar:hover > #navbar-fingerprint { 
  /* visibility: hidden; also possible, but interfears with layout*/
  display: none;
}


#navbar:hover {
  position: fixed;
  top: 5%;
  height: 5%;
  background-color: rgb(200, 200, 200, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 30px;
}

#navbar-icons {
 /* icon styling within navbar */
}

#darkmode {
  position: fixed;
  top: 5%;
  width: 10%;
  height: 5%;
  background-color: rgb(200, 200, 200, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  margin-left: calc(85vw);
  margin-right: auto;
  border-radius: 30px;
  z-index: 1;
  display: block;
  animation: darkmode-animation-rev 0.35s ease forwards;
}

#darkmode-icon {
  color: black;
  width: 30px;
  height: auto;
  position: relative;
  font-size: 35px;
  display: block;
  top: 10px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}


/* darkmode animation */
#darkmode:hover {
  animation: darkmode-animation 0.5s ease forwards;
}
@keyframes darkmode-animation {
  0% {

  }
  30% {
    width: 12%;
    height: 5%;
    background: rgb(69,48,253, 0.3); 
  }
  100% {
    background-color: rgb(59, 59, 59);
  }
}




/* reverse deze voor omgekeerde effect , en maan geel maken */

@keyframes darkmode-animation-rev {
  0% {
    background-color: rgb(59, 59, 59);
  }
  30% {
    width: 8%;
    height: 5%;
    background: rgb(69,48,253, 0.3); 
  }
  100% {
    
  }
}












/* navbar animation */
#navbar:hover {
  animation: navbar-animation 0.5s ease forwards;
}

@keyframes navbar-animation {
  0% {
    width: 10%;
    border-radius: 30px;
  }
  40% {
    width: 70%;
    background-color: rgb(200, 200, 200, 0.8);
    border-radius: 20px;
    margin-left: 5%;
    margin-right: auto;
    border-radius: 20px;
  }

  
  100% {
    width: 60%;
    background-color: rgb(200, 200, 200, 0.4);
    margin-left: 5%;
    margin-right: auto;
    border-radius: 30px;
    background: rgb(69,48,253, 0.3);    
  }
}

/* navbar animation rev */

@keyframes navbar-animation-rev {
  0% {
    width: 60%;
    border-radius: 30px;
  }
  20% {
    width: 50%;
    background-color: rgb(200, 200, 200, 0.8);
    margin-left: 2,5%;
    margin-right: 2,5%;
    border-radius: 30px;
    
  }
  80% {
    width: 8%;
    background-color: rgb(200, 200, 200, 0.8);
    margin-left: 2,5%;
    margin-right: 2,5%;
    border-radius: 20px;
  }
  100% {
    width: 10%;
    border-radius: 30px;
  }
}





h1, h2, h3, h4 {
  font-weight: 333;
}

#h1 {
  display: block;
}

h1 {
  margin: 40%;
}





/* ARDEY klik animaiton */

#h1-ardey:active {
  background-color: black;
}

/* ARDEY fades white */

/* Background fades black */

/* ARDEY attrackting background objects */

/* explosion */

/* transition to Projects page */

/* create profile face met cirkelende projects  */


























/* projects with javascript */

  /* test */
#projects {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}


#h2-projects {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 5em;
  width: 5em;
  line-height: 0.9em;
  margin-left: calc(50vw - 1.9em);
  
  
    
    background: conic-gradient(
      #ffefb1 8.333%, 
      #ffc426 16.666%, 
      #fc3456 24.333%, 
      /* #fc3456 = rgb(252,52,86) */
      #4530fd 31.666%,  
      /* #4530fd = rgb(69,48,253) */
      #470f7f 50%, 
      #35017e 58.333%, 
      #210959 66.666%, 
      #4624d7 74.333%, 
      #fc3456 81.6666%);

    background-size: 150%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}

/* project windows */
#animation-projects-div{
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  align-content: center;
  min-height: 50vh;
  color: white;
  /* maak grid horizonzaal flow ipv van boven naar beneden */
}





.project-card {
  width: 200px;
  height: 300px;
  border-radius: 40px;
  margin-left: -100px;
  margin-right: -100px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.project-card:hover {
  width: 400px;
  height: 400px;
  z-index: 1;
  transition-duration: 200ms;
  margin-bottom: 100px;
}



#p1 {
  background-color: rgb(250, 135, 164);
 
}

#p2 {
  background-color: rgb(203, 144, 238);
 
}

#p3 {
  background-color: rgb(182, 193, 255);

}

#p4 {
  background-color: rgb(182, 211, 255);
 
}


/* cards */
#robot {
  color: var(--theme-color2);
  font-size: 100px;
  align-self: center;
}

#home-app {
  color: var(--theme-color2);
  font-size: 100px;
  align-self: center;
}

#network {
  color: var(--theme-color2);
  font-size: 100px;
  align-self: center;
}

#database {
  color: var(--theme-color2);
  font-size: 100px;
  align-self: center;
}

/* div individual delay */
/* delay weg gehaald, interfeirde met touch delay */
/* .project-card:nth-child(1) {
  transition-delay: 100ms;
}
.project-card:nth-child(2) {
  transition-delay: 200ms;

}
.project-card:nth-child(3) {
  transition-delay: 400ms;

}
.project-card:nth-child(4) {
  transition-delay: 600ms;

} */

/* hidden and show classes for the moments the elements are visible */
    .hidden {
      opacity: 0;
      transition: all 1s;
      filter: blur(5px);
      transform: translateX(-100%);
    }

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  font-size: large;

}























/* projects with javascript */

  /* test */
  #about {
    padding: 0;
    margin: 0;
    min-height: 100vh;
  }
  
  
  #h2-about {
    position: relative;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 5em;
    width: 5em;
    line-height: 0.9em;
    margin-left: calc(50vw - 1.5em);
    align-self: center;

    background: conic-gradient(
      #ffefb1 8.333%, 
      #ffc426 16.666%, 
      #fc3456 24.333%, 
      /* #fc3456 = rgb(252,52,86) */
      #4530fd 31.666%,  
      /* #4530fd = rgb(69,48,253) */
      #470f7f 50%, 
      #35017e 58.333%, 
      #210959 66.666%, 
      #4624d7 74.333%, 
      #fc3456 81.6666%);

    background-size: 150%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

  }
  
  /* project windows */
  #animation-about-div{
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: repeat(2fr, 2fr);
    place-items: center;
    align-content: center;
    min-height: 50vh;
    color: white;
    /* maak grid horizonzaal flow ipv van boven naar beneden */
  }
  
  
  
  
  
  .about-card {
    width: 600px;
    height: 200px;
    border-radius: 40px;
    margin-left: -100px;
    margin-right: -100px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
  }
  
  .about-card:hover {
    width: 1000px;
    height: 500px;
    z-index: 2;
    transition-duration: 200ms;
    margin: -100px;
    color: black;
    
  }
  
  #about-span {
    padding-top: 0.5em;
    font-size: 0.5em;
    font-family: sans-serif;
    font-weight: 300;
    display: block;
    align-self: center;
    color: var(--theme-color2);
  }
  
  
  #about-1 {
    background-color: #ff5370;
  }
  
  #about-2 {
    background-color: #7e50fc;
   
  }
  
  #about-3 {
    background-color: #5e4dff;
  
  }
  
  
  /* cards */
  #person {
    color: var(--theme-color2);
    font-size: 4em;
    align-self: center;
  }
  
  #soft-skills {
    color: var(--theme-color2);
    font-size: 4em;
    align-self: center;
  }
  
  #history {
    color: var(--theme-color2);
    font-size: 4em;
    align-self: center;
  }
  
  
  /* div individual delay */
  /* .about-card:nth-child(1) {
    transition-delay: 100ms;
  }
  .about-card:nth-child(2) {
    transition-delay: 200ms;
  
  }
  .about-card:nth-child(3) {
    transition-delay: 400ms;
  
  }
  .about-card:nth-child(4) {
    transition-delay: 600ms;
  
  } */
  
  /* hidden and show classes for the moments the elements are visible */
      .hidden {
        opacity: 0;
        transition: all 1s;
        filter: blur(5px);
        transform: translateX(-100%);
      }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    font-size: large;
  
  }
 /* /test  */








/* beneden is test zone voor background blob animation, altijd in background */
/* SLEEEP  FLOW NAAR ACHTER TEXT ETC. zodat je kunt blijven klicken */
/* flowing background animation */

/* flowing-background with z-index to keep it in the background */




/*  FLOWING BACKGROUND is niet responsive anders proberen

#flowing-background {
  position: absolute;
  width: 100vw;
  height: 100vw;
  background: linear-gradient(rgb(69,48,253, 0.3), rgb(252,52,86, 0.3));
  border-radius: 50%;
  animation: flowing-background-animation-rev 10s linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes flowing-background-animation-rev {
0% {
  left: 0%;
  top: 0%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, linear;
  width: 100%;
  height: 100%;
  
  
}
30% {
  visibility: visible;
  opacity: 0;

}
50% {
  visibility: visible;
  opacity: 1;

}
70% {
  visibility: visible;
  opacity: 0;
}


100% {
  left: 0%;
  top: -40%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, linear;
  width: 100%;
  height: 100%;
  
}
} */

/* bol kleineer maken , meerdere obllen toevoegen */

/* portfolio orbit */
/* make my projecs and skills float around my character */
/* tijdens orbit, achtergrond animation stoppen */






/* orbit */

#outer-orbit {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1200px;
  height: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  padding-top: 100px;
  /* background-color: rgb(13, 13, 54); */
}
#orbit {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1000px;
  height: 1000px;
  position: relative;
}

/* orbit-ring gaat draaien met icons vast emaakt */
.orbit-ring {
  display: flex;
  position: relative;
  border: 2px solid ; 
  border-radius: 50%;
  width: 1000px;
  height: 1000px;
  margin: 50px;
  padding: 0;
  align-self: center;
  transform-origin: center;
  
}


#orbit-a {
  display: flex;
  position: absolute;
  width: 1000px;
  height: 1000px;
  color: rgb(59, 140, 245);
  animation: orbit-animation 50s linear infinite;
}

#orbit-b {
  display: flex;
  position: absolute;
  width: 850px;
  height: 850px;
  color: lightskyblue;
  animation: orbit-animation 40s linear infinite;
}

#orbit-c {
  display: flex;
  position: absolute;
  width: 700px;
  height: 700px;
  color: lightsteelblue;
  animation: orbit-animation 30s linear infinite;
}

#orbit-d {
  display: flex;
  position: absolute;
  width: 550px;
  height: 550px;
  color: lightsteelblue;
  animation: orbit-animation 20s linear infinite;
}


/* reverse orbit animation from orbit-ring for icons */


.orbit-icon {
  
  display: flex;
  position: absolute;
  background-color: rgb(216, 216, 216);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-self: center;
  left: -25px;
  justify-content: space-evenly;
  animation: orbit-animation 30s linear infinite reverse;
  font-size: 30px;
  overflow: hidden;
}

@keyframes orbit-animation {
  to { transform: rotate(360deg)}
}



/* icons */

/* orbit A */

#orbit-a-1 {
  animation: orbit-animation 50s linear infinite reverse;
}

#orbit-a-2 {
  animation: orbit-animation 50s linear infinite reverse;
  margin: 50px 0px 920px 750px;
}

#orbit-a-3 {
  animation: orbit-animation 50s linear infinite reverse;
  margin: 50px 0px -815px 750px;
}




/* orbit B */

#orbit-b-1 {
  animation: orbit-animation 40s linear infinite reverse;
  margin: 0px 0px 0px 850px;
}

#orbit-b-2 {
  animation: orbit-animation 40s linear infinite reverse;
  margin: 0px 0px 850px 425px;
}

#orbit-b-3 {
  animation: orbit-animation 40s linear infinite reverse;
  margin: 0px 0px -850px 425px;
}

#orbit-b-4 {
  animation: orbit-animation 40s linear infinite reverse;
  margin: 0px 0px -0px 0px;
}



/* orbit C / design ( photoshop, ai, procreate, etc. */


#orbit-c-1 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 495px 600px;
}

#orbit-c-2 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 495px 100px;
}

#orbit-c-3 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -485px 100px;
}

#orbit-c-4 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -485px 600px;
}



#orbit-c-5 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -700px 350px;
}

#orbit-c-6 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 0px 700px;
}

#orbit-c-7 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 700px 350px;
}

#orbit-c-8 {
  animation: orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 0px 0px;
}



/* orbit D */


#orbit-d-1 {
  animation: orbit-animation 20s linear infinite reverse;
  margin: 0px 0px 0px 550px;
}

#orbit-d-2 {
  animation: orbit-animation 20s linear infinite reverse;
  margin: 0px 0px 450px 115px;
}
#orbit-d-3 {
  animation: orbit-animation 20s linear infinite reverse;
  margin: 0px 0px -450px 115px;
}
















/* bij hover over het midden, een lijst met skills en text die erbij hoort. */
















/* licghte glow om alle objecten heen als achtergrond */

/* orbit alles /2 voor window iphone */



/* font awesome icons */

/* A */
#stack {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: #0f0fce; 
  background-color: rgb(244, 247, 255);
}

#slack {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: #e4149f; 
  background-color: rgb(244, 247, 255);}

#github {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: #0f98ce; 
  background-color: rgb(244, 247, 255);}

/* B */

#macbook {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(250, 142, 139);
  background-color: rgb(244, 247, 255);
}

#gym {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(121, 189, 245);
  background-color: rgb(244, 247, 255);
}

#books {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(109, 214, 67);
  background-color: rgb(244, 247, 255);
}

#improving {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 205, 42);
  background-color: rgb(244, 247, 255);
  padding-left: 10%;
}



/* C */

#figma {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(147, 89, 255);
  background-color: rgb(244, 247, 255);
}

#goal-oriented {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(49, 49, 49); 
  background-color: rgb(244, 247, 255);
}

#animation {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(49, 49, 49); 
  background-color: rgb(244, 247, 255);
}

#comunication {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(236, 0, 98); 
  background-color: rgb(244, 247, 255);
}

#solution-oriented {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(0, 236, 118); 
  background-color: rgb(244, 247, 255);
}

#design {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(236, 193, 0); 
  background-color: rgb(244, 247, 255);
}

#deepThinking {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 155, 89);
  background-color: rgb(244, 247, 255);
}

#research {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(89, 147, 255);
  background-color: rgb(244, 247, 255);
}

/* D */

#html {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 123, 0); 
  background-color: rgb(241, 241, 241);
}


#javascript {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(255, 230, 0); 
  background-color: rgb(27, 27, 27);
}

#css {
  width: 50px; 
  display: inline-block; 
  text-align: center;
  vertical-align: bottom; 
  line-height: 50px;
  color: rgb(0, 17, 255); 
  background-color: rgb(241, 241, 241);
}



/* bij hover maak lijst ipv orbit, en reverse kleuren, maak alles zwart met witte lijnen etc. daarna transform naar lijst */

/* orbit verdubbelen, alles zwart maken, met lichte blur, ver schruif 5% naar rechts onder voor orbit schaduw */















/* Shade orbit */
/* same as normal but + s- */
/* orbit */

#s-outer-orbit {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1200px;
  height: 1200px;
  position: relative;
  margin-top: -1180px;
  margin-left: 10px;
  filter:blur(3px);
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  
  /* background-color: rgb(13, 13, 54); */
}
#s-orbit {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1000px;
  height: 1000px;
  position: relative;
}

/* orbit-ring gaat draaien met icons vast emaakt */
.s-orbit-ring {
  display: flex;
  position: relative;
  border: 2px solid ; 
  border-radius: 50%;
  width: 1000px;
  height: 1000px;
  margin: 50px;
  padding: 0;
  align-self: center;
  transform-origin: center;
  
}


#s-orbit-a {
  display: flex;
  position: absolute;
  width: 1000px;
  height: 1000px;
  color: rgb(0, 0, 0);
  animation: s-orbit-animation 50s linear infinite;
}

#s-orbit-b {
  display: flex;
  position: absolute;
  width: 850px;
  height: 850px;
  color: rgb(0, 0, 0);
  animation: s-orbit-animation 40s linear infinite;
}

#s-orbit-c {
  display: flex;
  position: absolute;
  width: 700px;
  height: 700px;
  color: rgb(0, 0, 0);
  animation: s-orbit-animation 30s linear infinite;
}

#s-orbit-d {
  display: flex;
  position: absolute;
  width: 550px;
  height: 550px;
  color: rgb(0, 0, 0);
  animation: s-orbit-animation 20s linear infinite;
}


/* reverse orbit animation from orbit-ring for icons */


.s-orbit-icon {
  
  display: flex;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-self: center;
  left: -25px;
  justify-content: space-evenly;
  animation: s-orbit-animation 30s linear infinite reverse;
  font-size: 30px;
  overflow: hidden;
}

@keyframes s-orbit-animation {
  to { transform: rotate(360deg)}
}



/* icons */

/* orbit A */

#s-orbit-a-1 {
  animation: s-orbit-animation 50s linear infinite reverse;  
  background-color: rgb(182, 182, 182);
}

#s-orbit-a-2 {
  animation: s-orbit-animation 50s linear infinite reverse;
  margin: 50px 0px 920px 750px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-a-3 {
  animation: s-orbit-animation 50s linear infinite reverse;
  margin: 50px 0px -815px 750px;
  background-color: rgb(182, 182, 182);
}




/* orbit B */

#s-orbit-b-1 {
  animation: s-orbit-animation 40s linear infinite reverse;
  margin: 0px 0px 0px 850px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-b-2 {
  animation: s-orbit-animation 40s linear infinite reverse;
  margin: 0px 0px 850px 425px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-b-3 {
  animation: s-orbit-animation 40s linear infinite reverse;
  margin: 0px 0px -850px 425px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-b-4 {
  animation: s-orbit-animation 40s linear infinite reverse;
  margin: 0px 0px -0px 0px;
  background-color: rgb(182, 182, 182);
}



/* orbit C / design ( photoshop, ai, procreate, etc. */


#s-orbit-c-1 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 495px 600px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-2 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 495px 100px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-3 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -485px 100px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-4 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -485px 600px;
  background-color: rgb(182, 182, 182);
}



#s-orbit-c-5 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px -700px 350px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-6 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 0px 700px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-7 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 700px 350px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-c-8 {
  animation: s-orbit-animation 30s linear infinite reverse;
  margin: 0px 0px 0px 0px;
  background-color: rgb(182, 182, 182);
}



/* orbit D */


#s-orbit-d-1 {
  animation: s-orbit-animation 20s linear infinite reverse;
  margin: 0px 0px 0px 550px;
  background-color: rgb(182, 182, 182);
}

#s-orbit-d-2 {
  animation: s-orbit-animation 20s linear infinite reverse;
  margin: 0px 0px 450px 115px;
  background-color: rgb(182, 182, 182);
}
#s-orbit-d-3 {
  animation: s-orbit-animation 20s linear infinite reverse;
  margin: 0px 0px -450px 115px;
  background-color: rgb(182, 182, 182);
}







/* ardey orbital image */

#above-orbital-img {
  width: 200px;
  height: 200px;
  display: flex;
  /* justify-contect right want dan is icon centered */
  justify-content: center;
  align-content: center;
  background: rgb(69,48,253, 0.3); 
  border-radius: 50%;
  position: absolute;
  top: 400px;
}

#orbital-img {
  font-size: 5em;
  align-self: center;
  justify-self: center;
  color: var(--theme-color2);
} 

#above-orbital-img {
  /* width en height zijn voor edits */
  position: absolute;
  display: flex;
  align-self: center;
  border-radius: 50%;
  animation: above-orbital-img-animation 4s linear infinite ;
  z-index: -2;
}

@keyframes above-orbital-img-animation {
  0% {
    width: 200px;
    height: 200px;  }
  10% {
      width: 200px;
      height: 200px;  }
    
  50% {
    width: 200px;
    height: 200px;  }
  80% {
    width: 210px;
    height: 210px;  }
  82.5% {
    width: 215px;
    height: 215px;
    opacity: 1;
  }
  85% {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  90% {
    width: 200px;
    height: 200px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 1;
  }
}













/* Javascript portfolio */